\
 { % load static % }

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Blog Post</title>
    <link rel="stylesheet" href="% static css/All-Blog.css">
</head>

<body>

    <section class="Navigation-Bar">
        <!-- Nav-Bar  -->
        <nav class="Nav_bar">
            <div class="AI_Blog_Generator">
                <p>AI Blog Generator</p>
            </div>

            <div class="Left_Nav">
                <a href="#">Logout</a>
            </div>
        </nav>
    </section>


    <section class="Storage_Blogs">

        <div class="Container">

            <h1>ALL Blog Posts</h1>

            <div class="Boxes">
                <h3 class="Blog_Title">Blog Post Title</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem labore vero corrupti quos
                    nesciunt, similique iure cumque earum repudiandae aliquam quam ab magni laboriosam repellat
                    exercitationem consectetur, architecto ipsa soluta!</p>

            </div>
            <div class="Boxes">
                <h3 class="Blog_Title">Blog Post Title</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem labore vero corrupti quos
                    nesciunt, similique iure cumque earum repudiandae aliquam quam ab magni laboriosam repellat
                    exercitationem consectetur, architecto ipsa soluta!</p>

            </div>
            <!-- repeat -->
        </div>

    </section>

    <footer>
        <a href="#">Powerd By @AlgoMastery</a>
    </footer>

</body>

</html>