<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Post Details</title>
    <link rel="stylesheet" href="./Css/All-Blog.css">
</head>
<body>
    <section class="Navigation-Bar">
        <!-- Nav-Bar  -->
        <nav class="Nav_bar">
            <div class="AI_Blog_Generator">
                <p>AI Blog Generator</p>
            </div>
            
            <div class="Left_Nav">
                <a href="#">Logout</a>
             </div>
        </nav>
    </section>
<section class="Storag_Blogs">

        <div class="Container">

            <h1>Blog Post Details</h1>

            <div class="Boxes">
                <h3 class="Blog_Title">Blog Post Title</h3>
                <p>This is The Content</p>
                <hr>
                <h4>Youtube Title-</h4>
                <p>Title of the associated Youtube Video</p>
                <h4>Youtube-Link--</h4>
                <a href="">link</a>

            </div>
            <div class="Boxes">
                <h3 class="Blog_Title">Blog Post Title</h3>
                <p>This is The Content</p>
                <hr>
                <h4>Youtube Title--</h4>
                <p>Title of the associated Youtube Video</p>
                <h4>Youtube-Link--</h4>
                <a href="">link</a>

            </div>
            <!-- repeat -->
        </div>

    </section>

    <footer>
        <a href="#">Powerd By @AlgoMastery</a>
    </footer>


    
</body>
</html>